<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: 'Home',
      icon: 'shopify.png',      
      buttons: {
        secondary: [
          {
            label: "Configuracion",
            href: "/settings",
            target: 'app'
          },
          {
            label: "Ordenes Pendientes",
            href: "/pending",
            target: 'app'
          }
        ]
      }      
    });
  });
</script>
<div class="section">
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                <h1>
                  <% @pufipad.each do |p| %>
                    <%= p.name %>
                  <% end %>
                </h1>
            </div>
        </div>
    </div>
</div>
