<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: 'Resumen del pedido',
      icon: 'shopify.png',      
      buttons: {
        secondary: [
          {
            label: "Configuracion",
            href: "/settings",
            target: 'app'
          },
          {
            label: "Ordenes Pendientes",
            href: "/pending",
            target: 'app'
          }
        ]
      }      
    });
  });
</script>

<div class="section">
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                <h1>
                  <%= JSON.parse(@orders)
    #puts my_pretty_json_order = JSON.pretty_generate(my_json_order_to_object) 
     %>
                </h1>
            </div>
        </div>
    </div>
</div>

