<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      

      buttons: {
        secondary: [
          {
            label: "Configuracion",
            href: "/settings",
            target: 'app'
          },
          {
            label: "Ordenes Pendientes",
            href: "/pending",
            target: 'app'
          }
        ]
      }      
    });
  });
</script>


<div class="section">
    <div class="section-summary">
        <h1>Beneficios</h1>
        <p>Beneficios</p>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                Paypal PLUS
            </div>
        </div>
    </div>
</div>