<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      

      buttons: {
        secondary: [
          {
            label: "Configuracion",
            href: "/settings",
            target: 'app'
          },
          {
            label: "Ordenes Pendientes",
            href: "/pending",
            target: 'app'
          }
        ]
      }      
    });
  });
</script>


<div class="section">
    <div class="section-summary">
        <h1>Beneficios</h1>
        <p>Beneficios</p>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                Paypal PLUS permite aceptar cargos con tarjeta de crédito y débito SIN que tu cliente tenga una cuenta de Paypal.<b>
                Tarjetas y bancos aceptados ???<br>
                Acepta MSI(configuración desde tu cuenta de Paypal de empresa)
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-summary">
        <h1>Requisitos</h1>
        <p>Requisitos</p>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                Para usar Paypal PLUS es necesario:
                <ul>
                  <li>Tener una cuenta de PayPal ¿México?</li>
                  <li>Qye Paypal te apruebe la cuenta</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-summary">
        <h1>Client ID + Secret</h1>
        <small>
          <p>Generador de credenciales para pasarela de pagos PayPal<br>
             Se requiere tu Client ID + Secret, los puede obtener en <a href="#">Developer Paypal</a>
          </p>
        </small>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">

            </div>
        </div>
    </div>
</div>