<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      
      
      buttons: {
        secondary: [
          {
            label: "Configuracion",
            href: "/settings",
            target: 'app'
          },
          {
            label: "Ordenes Pendientes",
            href: "/pending",
            target: 'app'
          }
        ]
      }      
    });
  });
</script>


<div class="section">
    <div class="section-summary">
        <h1>Section title</h1>
        <p>Section explanation</p>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                Information related to the section
            </div>
        </div>
    </div>
</div>