<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: 'Configuracion de Paypal PLUS',
      icon: 'shopify.png',
      buttons: {
        primary: {
          label: "Guardar configuracion",
          message: ''
        },
        secondary: 
          {
            label: "Ordenes Pendientes",
            href: "/pending",
            target: 'app'
          }
      }      
    });
  });
</script>


<div class="section">
    
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                <h1>Beneficios</h1>

                Paypal PLUS permite aceptar cargos con tarjeta de crédito y débito SIN que tu cliente tenga una cuenta de Paypal.<b>
                Tarjetas y bancos aceptados ???<br>
                Acepta MSI(configuración desde tu cuenta de Paypal de empresa)
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-summary">
        <h1>Requisitos</h1>
        <p>Requisitos</p>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
                Para usar Paypal PLUS es necesario:
                <ul>
                  <li>Tener una cuenta de PayPal ¿México?</li>
                  <li>Qye Paypal te apruebe la cuenta</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-summary">
        <h1>Client ID + Secret</h1>
        <small>
          <p>Generador de credenciales para pasarela de pagos PayPal<br>
             Se requiere tu Client ID + Secret, los puede obtener en <a href="#">Developer Paypal</a>
          </p>
        </small>
    </div>
    <div class="section-content">
        <div class="section-row">
            <div class="section-cell">
              <form>
                Cliente ID <input type="text" name="" placeholder="Copia y Pega el CLIENT ID de tu cuenta de Developer de Paypal">
                Secret <input type="text" name="" placeholder="Copia y Pega el SECRET de tu cuenta de Developer de Paypal">
                Nombre de perfil <input type="text" name="" placeholder="Introduce un nombre para identificar esta instalación">
                Nombre de Comercio <input type="text" name="" placeholder="{{shop.name}}">
                Pasarela de pago <select>
                <option>Opcion 1</option>
                <option>Opcion 2</option>
                <option>Opcion 3</option>
                </select>

              </form>
            </div>
        </div>
    </div>
</div>